* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom,
            #0f1115,
            #12151c);
    color: #fff;
    font-family: 'Inter', sans-serif;
    padding: 20px;

    max-width: 1100px;
    margin: auto;

    scroll-behavior: smooth;

    transition:
        background 0.3s,
        color 0.3s,
        border-color 0.3s,
        transform 0.3s;

}



/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 80px;
}

nav h1 {
    font-size: 28px;
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    color: #aaa;
    text-decoration: none;
}

.menu a:hover {
    color: #fff;
}

.menu a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #3b82f6;
    transition: width 0.3s;
}

.menu a:hover::after {
    width: 100%;
}




/* HERO */
.hero {
    margin-bottom: 80px;
    position: relative;
    animation: fadeUp 1s ease;
}



@keyframes fadeUp {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.hero::before {
    content: "";
    position: absolute;

    width: 300px;
    height: 300px;

    background: #3b82f6;
    filter: blur(120px);

    opacity: 0.15;

    top: -100px;
    left: 0;

    z-index: -1;
}

.hero h2 {
    font-size: 48px;
    margin-bottom: 20px;

    max-width: 700px;
}

.hero p {
    color: #888;

    max-width: 500px;

    line-height: 1.7;
}


/* POSTS */
.posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
}

.card {
    text-decoration: none;
    color: white;
    background: rgba(26, 29, 36, 0.7);
    backdrop-filter: blur(10px);
    padding: 25px;
    border-radius: 20px;
    transition: 0.3s;

    border: 1px solid transparent;


}

.card:hover {
    transform: translateY(-5px);
    border-color: #3b82f6;
    box-shadow: 0 10px 30px rgba(59, 130, 246, 0.15);


}

.tag {
    display: inline-block;
    background: #2b3240;
    color: #8ab4ff;
    padding: 6px 12px;
    border-radius: 999px;
    margin-bottom: 15px;
    font-size: 12px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    color: #999;
    line-height: 1.6;
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 14px;
    margin-bottom: 20px;
}


.date {
    font-size: 13px;
    color: #666;
    margin-bottom: 10px;
}

section {
    padding: 80px 0;
    border-top: 1px solid #222;
}

.about {
    margin-top: 100px;
}

.about h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.about p {
    color: #999;
    line-height: 1.7;

    max-width: 600px;
}

.now {
    margin-top: 100px;
}

.now h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.now p {
    color: #999;
    line-height: 1.7;

    max-width: 600px;
}

footer {
    margin-top: 100px;
    color: #666;
    text-align: center;
}


input,
button {
    padding: 12px;

    margin-bottom: 20px;

    width: 100%;
}